@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tablets {
    @media(min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: 1023px) {
        @content;
    }
}

@mixin largeDesktop {
    @media(min-width: 1439px) {
        @content;
    }
}