@use 'mixins';
@use 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/bg-stars.svg');
    background-repeat: no-repeat;
    background-color: variables.$veryDarkMostlyBlackBlue;
    color: white;

    .cInterface {
        // @include mixins.flexCenter;

        display: grid;
        grid-template-rows: 70vh 30vh;
        min-height: 100vh;

        footer {            
            background-image: url('../images/pattern-hills.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &-Main {
            @include mixins.flexCenter;

            flex-direction: column;

            &-TimerList {
                @include mixins.flexCenter;

                margin-top: 3rem;
                list-style: none;
                gap: 1rem;
                &-Items { 
                    @include mixins.flexCenter;
                    
                    flex-direction: column;                   
                }
            }
        }
    
        .attribution {
            font-size: 11px; 
            text-align: center;

            a { 
                color: hsl(228, 45%, 44%); 
            }
        }
    }
}