@use 'mixins';
@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
}

body {
    background-image: url('../images/bg-stars.svg');
    background-repeat: repeat;
    background-size: contain;
    background-color: variables.$veryDarkMostlyBlackBlue;
    color: white;

    .cInterface {
        display: grid;
        grid-template-rows: 70vh 30vh;
        min-height: 100vh;
        background-image: url('../images/pattern-hills.svg');
        background-repeat: no-repeat;
        background-position: bottom right;

        &-Footer {  
            display: grid;
            grid-template-rows: 90% 10%;
            align-items: center;
            justify-items: center;

            &-SocialMidias {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;
                gap: 2rem;
                margin-top: 5rem;
            }

            .attribution {
                font-size: 11px; 
                text-align: center;
    
                a { 
                    color: hsl(228, 45%, 44%); 
                }
            }
        }

        &-Main {
            @include mixins.flexCenter;

            flex-direction: column;
            letter-spacing: .4rem;

            h1 {
                text-align: center;
                font-size: 1.2rem
            }

            &-TimerList {
                @include mixins.flexCenter;

                margin-top: 3rem;
                list-style: none;
                gap: 1rem;

                &-Items { 
                    @include mixins.flexCenter;
                    
                    flex-direction: column;
                    
                    span {
                        font-size: 2rem;
                    }

                    p {
                        font-size: .5rem;
                    }
                }
            }
        }
    }
}